body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px; /* Adjust width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    padding: 10px; /* Adjust padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    z-index: 100; /* Ensure it's above other content if needed */
}

.logo img {
    display: block;
    width: 350%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.container {
    background-color: #ffffff;
    text-align: center;
    padding-left: 50%;
    padding-right : 50%;
    padding-bottom: 20%;
    padding-top: 21%;
    width: 50%;
    height: auto; /* Allow height to adjust based on content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* Align to the right */
    margin-right: 0; /* Ensure no margin on the right */
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #000000;
}

h4 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ecf0f1;
}

button {
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1b0064;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover {
    background-color: #21007c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

button a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

button a:hover {
    text-decoration: underline;
}

.alert {
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9ebae;
    color: #a94442;
    border: 1px solid #a94442;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for smaller screens */
        padding: 30px; /* Adjust padding for smaller screens */
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    button {
        font-size: 1.2em;
        padding: 12px 24px;
    }

    .left-side {
        display: none;
    }
}
